# Tailscale IPv4 of this host. Required for binding.
# Example: 100.115.225.37
TS_IP=

# Optional: auto-claim this node to Netdata Cloud.
# Obtain values from https://app.netdata.cloud > Connect > Docker
#NETDATA_CLAIM_TOKEN=
#NETDATA_CLAIM_ROOMS=
#NETDATA_CLAIM_URL=https://app.netdata.cloud

